__pycache__
*.so
build
*.egg-info
.vscode
.gitmodules
test-reports/
*_hip.h
*.hip
*_hip.cpp
*_hip.hpp
*_hip.cuh
agent/tmp/
agent/workspace/
logs/
primus_turbo/_build_info.py
primus_turbo/_version.py
.coverage*
